.ProductContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.ProductPhoto {
    width: 2.5rem;
    height: 2.5rem;
}

.ProductTitle {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.DetailButton {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1.5rem;
    outline: none;
    border: none;
    background-color: rgb(183, 28, 28);
    color: whitesmoke;
    font-weight: 600;
}

.DetailButton:active {
    background-color: rgb(229, 115, 115);
}

.DetailButton:hover {
    cursor: pointer;
}
