.ProductSum {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-weight: 600;
    color: rgb(183, 28, 28);
    text-align: center;
    font-size: 1.5rem;
}

.GridContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.GridItem {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 27rem;
    margin: 0.5rem;
    margin-bottom: 2rem;
}

.GridItem:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgb(214, 214, 214);
}

.ItemImg {
    width:100%;
    height: 19rem;
}

.ItemTitle {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    height: 4rem;
    margin: 0.5rem;
}

.DetailButton {
    text-decoration: none;
    outline: none;
    border: solid;
    border-color: rgb(183, 28, 28);
    border-width: 2px;
    background-color: whitesmoke;
    color: rgb(183, 28, 28);
    padding: 0.5rem;
    margin-left: 0.5rem;
    width: 13rem;
    font-size: 1rem;
    font-weight: 600;
}

.DetailButton:hover {
    cursor: pointer;
}
